.elements {
    max-width: 880px;
    width: 100%;
    margin: 0 auto; 
}

.elements__img {
    padding-top: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.elements__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 10px; 
    overflow: hidden; 
}

.elements__img-yosemite,
.elements__img-louise,
.elements__img-montanas,
.elements__img-latemar,
.elements__img-vanois,
.elements__img-braies {
    width: 100%; 
    height: auto; 
    display: block; 
}

.elements__text {
    width: 100%; 
    padding: 30px; 
    text-align: center; 
    color: black; 
    background-color: white; 
    font-family: "Inter", sans-serif; 
    font-size: 24px; 
    font-weight: 900; 
    margin: 0; 
}
.element__like:hover{
    cursor: pointer;
    opacity: 0.5;
}

@media screen and (max-width: 425px) {
    .elements__img {
        grid-template-columns: repeat(1, 1fr); 
    }
}

@media screen and (min-width: 425px) and (max-width: 1024px) {
    .elements__img {
        grid-template-columns: repeat(2, 1fr); 
    }
    
}

@media screen and (min-width: 1024px) {
    .elements__img {
        grid-template-columns: repeat(3, 1fr); 
    }
    
}